*{
    padding: 0;
    margin: 0;

}
h1,h2,h3,p{ 
    padding: 0;
    margin: 0;
}
a{
text-decoration: none;
}
ul,ol{
padding: 0;
margin: 0;
list-style: none;
}



h1{
    color: black;
    font-size: 50px;
    font-weight: 400;
    text-decoration: underline;
    background: yellow;
    letter-spacing: 10px;
}
div{
    color: white;
    height: 40px;
    width: 60px;
    background: blue;
    border: 2px solid black;
    border-radius: 15px;
}
.b{
    display: inline-block;
    border-bottom: 1px solid green
}
.img{
    height: 100px;
    width: 100px;
    border: 5px solid black;
    border-radius: 100px;
}